/* .image {
    width: 50% !important;
    padding: 20px;
}

.image img {
    width: 100% !important;
    padding: 20px;
} */
body {
    display: block !important;
}

/* menu items log in & sing up */
.hover-item-two {
    background: #27b362 !important;
}

.hover-item-one {
    background: #fff;

}

.hover-item-one:hover {
    background: #27b362 !important;
}

.mool-2 {
    margin: 0 4px !important;
    font-size: 18px !important;
}



/* menu hidden items */
.hidden-items-one {
    display: none;
}

.mostofa-items {
    color: #fff !important;
}

.mostofa-items:hover {
    color: #27b362 !important;
}

/* ----------------------------------------------sing---------------------------------- */
.sing-li {
    margin: 4px 0;
    display: block !important;
}

.sing {
    background: transparent;
    text-decoration: none;
}



/* stiky */
.paddi {
    padding: 10px 20% !important;
}

.width-items {
    width: 1850px !important;
}



/*------------------------------------ investment-background-image------------------------------------- */
.investment-background-image {
    background-image: url(images/baner/20230318_145523.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.investment-background-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 110px 250px !important;

}

.fs-investment {
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 20px;

}

.fs-investment span {
    font-size: 67px;
    font-weight: 600;
}

/* fs-span-investment */
.fs-span-investment {
    color: #27b362;
}

/* ---------------------------------responsive------------------------------------ */
@media (max-width:992px) {
    .investment-background-text {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 70px 100px !important;

    }

    .hidden-items-one {
        display: block;
    }

    .hidden-items-two {
        display: none !important;
    }

    .fs-investment {
        font-size: 40px;

        padding: 0px 0px;

    }

    .fs-investment span {
        font-size: 47px;
    }
}

@media (max-width:634px) {
    .investment-background-text {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 30px 10px !important;

    }

    .fs-investment {
        font-size: 30px;
        padding: 0px 0px;


    }

    .fs-investment span {
        font-size: 37px;
    }
}