/* .image {
    width: 50% !important;
    padding: 20px;
}

.image img {
    width: 100% !important;
    padding: 20px;
} */
body {
    display: block !important;
}

/* menu items log in & sing up */
.hover-item-two {
    background: #27b362 !important;
}

.hover-item-one {
    background: #fff;

}

.hover-item-one:hover {
    background: #27b362 !important;
}

.mool-2 {
    margin: 0 4px !important;
    font-size: 18px !important;
}



/* menu hidden items */
.hidden-items-one {
    display: none;
}

.mostofa-items {
    color: #fff !important;
}

.mostofa-items:hover {
    color: #27b362 !important;
}

/* ----------------------------------------------sing---------------------------------- */
.sing-li {
    margin: 4px 0;
    display: block !important;
}

.sing {
    background: transparent;
    text-decoration: none;
}



/* stiky */
main {
    padding: 10px 20%;
}

.width-items {
    width: 1850px !important;
}

.d-wrap {
    width: 1
}

/* responsive */
@media (max-width:992px) {
    .hidden-items-one {
        display: block;
    }

    .hidden-items-two {
        display: none !important;
    }
}